<div class="welcome"
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutGap.gt-md="10px"
  fxLayoutAlign="center center">
  <section>
    <h2>Title</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </section>
  <section>
    <h2>Title</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </section>
  <section>
    <h2>Title</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </section>
</div>